# Environment variables
.env

# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# System
.DS_Store

# Node/Frontend
node_modules/
.next/
.node_dist/
dist/
build/

# IDEs
.vscode/
.idea/

# Backups and Archives
*.zip
*.tar.gz
in_db_backup/
