<!DOCTYPE html>
<html lang="en">
<body style="text-align: center; background-color: white;">
    <h3 style="height: 24px; display: flex; justify-content: center; align-items: center; background-color: green; color: white;">Welcome to InvestNaira!</h3>
    <p>Hello {{ user.username }},</p> <br/>

    <p>
        Thank you for joining InvestNaira. To verify your email address, please use the following One-Time Password (OTP):<br/>
        <strong>{{ otp }}</strong> <br/>
        This OTP will expire in 10 minutes. <br/>
        If you didn't request this, you can safely ignore this email. <br/>
        Thank you for using our service! <br/>
    </p>
</body>
</html>